body{
    background-color: #EAF6F6;
    font-family: sacramento,sans-serif;
    font-size: 40px;
}
hr{
    border-style: none;
    border-width: 5px;
    border-top: dotted;
    border-color: grey;
    width: 10%;

}
img{
    height: 150px;
}
h1{
    color: #66BFBF;
}
h3{
    color: #1DB9C3;
}
